.journal__wrapper{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: 30px 0px;


}

.journal__inputBox{
    margin-left: 40px;
    width: 40%;
    height: 260px;
    border: 2px white solid;
    border-radius: 10px;
    background-color: #EEE2DC;
}

.journal__input{
    width: 98%;
    height: 60%;
    background-color: #EEE2DC;
    border: none;
}
.journal__input:focus{
    outline: 0;
}

.journal__inputButton{
    width: 100%;
    height: 20%;
    border-bottom:2px white solid;
    border-top:none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    color: white;
    background: #AC3B61;
    cursor: pointer;   
}

.journal__inputButtonDisable{
    width: 100%;
    height: 20%;
    border-bottom:2px white solid;
    border-top:none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    color: white;
    background: #3a222a;
    cursor: no-drop;   
}

.journal__chart .react-calendar{
    width: 100%;
    margin-left: 10%;
}
.journal__inputButtonWrapper{
    display: flex;
    justify-content: space-between; 

}
.journal__inputButtonBad, .journal__inputButtonNormal, .journal__inputButtonGood{
    width: 100%;
    height: 50px;
    font-size: 42px;
    cursor: pointer;
    border: none;
    outline: 0;
}
.journal__inputButtonBad{
    background-color: red;
    border-radius: 10px;
} 

.journal__inputButtonNormal{
    background-color: rgb(28, 59, 151);
    border-radius: 10px;
}
.journal__inputButtonGood{
    background-color: seagreen;
    border-radius: 10px;
}

.journal__inputButtonGood:hover{
    background-color: rgb(55, 233, 132);   
}

.journal__inputButtonNormal:hover{
    background-color: rgb(78, 119, 241);
}

.journal__inputButtonBad:hover{
    background-color: rgb(253, 109, 109);
} 