.navigation{
    background-color: #EEE2DC;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

.navigation__login{
  margin-right: 3%;
}

.navigation__logo{
  margin-left: 3%;
}